[2019-05-21 19:12] bocodigital opened #4 "Based on your definitions get should return false if no item found"
[code]
This seems wrong. Your interface says it will return false but if the item is not found the app just crashes because it is trying to unwrap an optional value that is in fact nil.

I think it should be

[code]

[2019-05-23 15:38] jepiqueau commented on #4
i do not understand why you need to clean the values in the set function ? anyhow if it is required it must be the same for the android and the web plugin (please give me an example so i can understand). In the get function i think the code should be ```let data: Data = mDb.get(name:key)!
        if data.id != nil {
            call.resolve([
                "value": data.value!
            ])

[2019-05-23 15:46] bocodigital commented on #4
The reason for cleaning the string is that when writing to sqllite a plain json string adds extra slashes which basically makes the object unreadable by redux-persist when trying to rehydrate state. May not be relevant to your use cases.

[2019-06-11 15:22] jepiqueau commented on #4
i am looking to update the plugin to capacitor 1, so i am not familiar with redux-persist can you share some code so i can understand your request as if i implemented it for IOS, i must also implemented it in Android and Web for consistency

[2019-06-11 15:30] bocodigital commented on #4
[code]

[2019-06-11 15:30] bocodigital commented on #4
Thats my integration

[2019-06-11 15:32] bocodigital commented on #4
This where I tie this class into redux-persist
[code]

[2019-06-13 16:30] jepiqueau commented on #4
i come back to you, i have updated capacitor-data-storage-sqlite to capacitor One taking and solve the issue one. Now i start looking at Redux but cannot figure out how to make it running in a pwa-app using stencil one. As i am willing to take into account your query with redux-persist can you share on github a small pwa-app showing the issue so i can play with it to find the solution. you propose

[2019-06-15 07:56] jepiqueau commented on #4
You did not come back to me. but having look a bit deeper without having makes an app, i can say that it is nothing to do with the capacitor-data-storage-sqlite. It seems that if you have an object {a:2,b:"Hello World"} redux-persit store it as "\"{a:2,b:\\\"Hello World\\\"}\"" so for me you have to deal with this in your CapacitorEngineStorage wrapper and i suggest to do it at the setItem method

[2019-06-15 08:00] jepiqueau commented on #4
[code]

[2019-06-15 15:55] fedee13 opened #6 "Relational Database"
Is it possible to create a relational database using the plugin instead of key-value pairs?

[2019-06-16 17:02] jepiqueau commented on #6
No, it is out of the scope. Certainly could be done but it is far more complex as you should provide Table , Index and Query creation.

[2019-06-16 20:12] fedee13 commented on #6
Do you know any alternatives?

[2019-07-05 06:37] Madhulika08 opened #7 "SQLite with capacitor + Ionic 4 app"
Hi,

I am trying to migrate from Cordova to the capacitor. In our app, we use SQL queries to save and get data and perform other actions on the database. Not sure how to do it using this plugin.
Do we have an example or do we have any other plugin in capacitor which supports this requirement?

[2019-07-05 06:58] #4 closed

[2019-07-05 07:06] jepiqueau commented on #7
see an example of ionic app
[code]
you cannot perform others operations that the one given in the readme files
[code]
the database is stored and have a unique name and table.
So if you are looking to create your own database model  see my answer to
[code]

[2019-07-13 11:07] #7 closed

[2019-07-13 11:07] #6 closed

[2019-07-16 04:57] atmosuwiryo opened #8 "Use with swift 4"
Can we use this plugin with swift version 4?

[2019-07-16 13:47] jepiqueau commented on #8
if your question is in a pure IOS swift4 app, the answer is no as it is a capacitor plugin meaning that its interface is compliant to  capacitor. Now what you can do in a pure Swift app is to take the StorageDatabaseHelper.swift class from https://github.com/jepiqueau/capacitor-data-storage-sqlite/blob/master/ios/Plugin/Plugin/StorageDatabaseHelper.swift and add it to your swift app. you must also

[2019-07-17 11:12] jepiqueau commented on #8
have you create your ionic project following the instruction given in ```https://capacitor.ionicframework.com/docs/getting-started/with-ionic/ ```
Did you look at the Ionic4 app at
``` https://github.com/jepiqueau/ionic-capacitor-data-storage-sqlite ```
which is using the plugin without issues. can you tell me which ionic version are you using and which capacitor version. Are you opening Ios with

[2019-07-19 11:40] atmosuwiryo commented on #8
I'm sorry, I only can check this next week. I'll back to you after that.

[2019-09-06 12:43] #8 closed

[2019-09-11 16:40] Genericum opened #9 ""No available storage method found" error caused by INDEXEDDB on iOS web devices"
### Version:
capacitor-data-storage-sqlite version: 1.2.1

###  Type:
I'm submitting a ...

[x] bug report
[] feature request

### Current behavior:
The ionic-capacitor-data-storage-sqlite app example does not work in chrome, if an iOS device is selected in development mode. On Safari for Mac OS the ionic-capacitor-data-storage-sqlite app does also not work if an iOS device is selected in responsi

[2019-09-12 04:02] stevenroussey-privicy opened #10 "Feature Request: Add SQLite as an option on Electron"

[2019-10-04 08:28] jepiqueau commented on #9
i am back, i identified the issue which is coming from localforage module which do not recognize that Safari version is higher that 10.1 and so LocalForage.INDEXEDDB driver is not recognized and it fall back to LocalForage.WEBSQL if an IOS device is selected in Chrome in development mode.
For me, On Safari for Mac OS the ionic-capacitor-data-storage-sqlite app does work if an iOS device is selecte

[2019-10-04 09:25] jepiqueau commented on #10
Having a first look, it is not as easy as with electron when using sqlite3 module, one need to use electron-rebuild to build the native library which is platform ( MacOs, Windows,... ) dependent. So i returned the question to the capacitor development team to see how this is feasible.

[2019-10-05 00:11] stevenroussey-desiclabs commented on #10
Thanks, having something cross platform would be great.

[2019-10-07 06:28] jepiqueau commented on #9
this issue has been fixed in version 1.2.1-4

[2019-10-07 06:28] #9 closed

[2019-10-08 18:36] fernandocode opened #11 "Creating a new Relational Database Model plugin that can be used as base for this."
I looked at issue #6 and I understand that this plugin should stay within scope. And really supporting Relational Database Model would be something outside of what the plugin proposes (Key/Value support).

So I would like to know the interest in creating a new plugin with the scope to support only Relational Database Model, which would support the execution of SQL statements, returning the cursor,

[2019-10-12 17:30] parthnayak7448 commented on #7
@Madhulika08  Did you find any solutions to use sql query in capacitor? If yes can you share me example please.

[2019-10-19 17:07] jepiqueau commented on #11
i would like to share a new capacitor-sqlite plugin ```https://github.com/jepiqueau/capacitor-sqlite ``` and a ionic application demonstrating the use of  the capacitor-sqlite plugin  ```https://github.com/jepiqueau/ionic-capacitor-sqlite ``` This plugin is in alpha version and working for the time being for IOS, the Android version will come later. This plugin has been requested many time , pleas

[2019-10-19 17:11] jepiqueau commented on #7
hi all i would like to share a new capacitor-sqlite plugin https://github.com/jepiqueau/capacitor-sqlite and a ionic application demonstrating the use of the capacitor-sqlite plugin https://github.com/jepiqueau/ionic-capacitor-sqlite This plugin is in alpha version and working for the time being for IOS, the Android version will come later. This plugin has been requested many time , please enjoy i

[2019-10-19 17:13] jepiqueau commented on #7
@Madhulika08 , @parthnayak7448 see my comment above

[2019-10-22 19:50] fernandocode commented on #11
What a great news. Unfortunately there is no Android implementation yet (I'm currently out of Mac to test), so once I have Android support I will test and possibly start [implementing an adapter](https://github.com/fernandocode/database-builder/tree/master/src/adapters) on [ionic-database-builder (library I developed for SQL abstraction, which I use in projects in the company and in some private p

[2019-10-26 10:16] jepiqueau commented on #11
@fernandocode  the capacitor-sqlite plugin now includes both Native IOS and Android plugin. see https://github.com/jepiqueau/capacitor-sqlite

[2019-10-29 05:23] #11 closed

[2019-10-29 18:33] Screech129 opened #12 "Demo Does Not Work in Firefox"
This demo: https://ionicpwacapacitorstorage.firebaseapp.com/ does not work in Firefox. I'm not sure if this is expected but it says "set: Error Data insertion failed: Error: No available storage method found."

[2019-11-06 09:39] jepiqueau commented on #12
I got Firefox installed on my Mac version 67.0.4 (64 bit) and it works nicely. I also installed it on my Android mobile Version 68.2.0 and it failed. After some Google search, it seems that it is a known issue when using localforage to access INDEXEDDB, it sometimes does not find the driver. Whiv version of Firefox are you using and on which OS ?

[2019-11-06 14:25] Screech129 commented on #12
It's Firefox 70 on Windows 10. I attached a screenshot
![FirefoxScreenShot](https://user-images.githubusercontent.com/8851598/68306267-da793300-006e-11ea-815c-c8f80e5e98d9.png)

[2019-11-07 10:36] jepiqueau commented on #12
@Screech129  This issue has been fixed, thanks for having reporting this bug

[2019-11-07 10:36] #12 closed

[2019-11-07 19:53] vasiliyevgrashin71 commented on #7
capacitor-data-storage-sqlite not working ;(

[2019-11-08 08:58] jepiqueau commented on #7
@vasiliyevgrashin71 You should be more specific which OS (Mac, Window, iOS, Android, Electron)? which Platform (iOS, Android, Electron, Web ) ? which Browser (Chrome, Safari, Firefox) ? ... ?
i tested on Android, IOS, Electron and web the application ```ionic-capacitor-data-storage-sqlite``` at https://github.com/jepiqueau/ionic-capacitor-data-storage-sqlite using the latest release of the capacit

[2019-11-12 18:18] slevy85 opened #13 "Feature request: Make the database name and table name parameters"
Hi, thank you for this great plugin,
Do you think it is possible to have the database and table name as parameters somewhere ?

This would allow to have multiple db in the same application and separate different entities in different tables.

Thank you.

[2019-11-13 01:08] flipace opened #14 "Feature request: Conform to WebStorage API in order to be used as a drop-in replacement for e.g localforage"
If this plugin would adhere to the `Storage` API (https://developer.mozilla.org/de/docs/Web/API/Storage) it would be possible to use it as a drop-in replacement for libraries such as `redux-persist` which depend on the functions `getItem`, `setItem`,  `removeItem`, `getAllKeys`.

In our app, we're probably going to wrap this plugin somewhat like this for the time being:

[code]

*EDIT:* I just fou

[2019-11-13 10:48] jepiqueau commented on #14
@flipace
Can you confirm that your wrapper is what it is above or
storage = {
    getAllKeys: cb => { CapacitorDataStorageSqlite.keys().then(keys => cb(null, keys.keys)); },
    getItem: (key, cb) => { CapacitorDataStorageSqlite.get({ key }).then(value => cb(null, value.value)); },
    setItem: (key, value, cb) => { CapacitorDataStorageSqlite.get({ key, value }).then(() => cb()); },
    removeItem

[2019-11-14 15:39] jepiqueau commented on #13
These feature have been implemented

[2019-11-14 15:40] jepiqueau commented on #13
@slevy85  Features implemented i will close the issue

[2019-11-14 15:40] #13 closed

[2019-11-14 20:12] flipace commented on #14
@jepiqueau the following is what we ended up with eventually - our qa team is going to perform some testing tomorrow to ensure everything works smooth.

[code]

[2019-11-17 17:25] jepiqueau commented on #14
@flipace  with the new release of capacitor-data-storage-sqlite allowing for customization of the database name and table name or multiple tables you will have to add in your wrapper the following :

[code]

[2019-11-17 19:30] jepiqueau commented on #14
@flipace i have added the javascript and typescript wrappers in the README of the capacitor-data-storage-sqlite capacitor plugin. So if it works for you, i will close the issue.

[2019-11-17 20:01] flipace commented on #14
@jepiqueau thanks for the update -> I should be able to check it out tomorrow and will let you know how it goes! Thanks a lot for your effort!

[2019-12-16 18:57] socalrunner opened #15 "Feature Request: Add Encryption"
We are looking at using this plugin but our app will require that at least some of the data is encrypted at rest.  Is it possible to encrypt the SQLite DB file?

[2019-12-17 19:13] jepiqueau commented on #15
@socalrunner  it could be possible, i will  have look to evaluate and come back

[2019-12-25 04:26] carloliwanag commented on #7
@jepiqueau great plugin. it is very easy to use and your documentation is enough to have used in applications. thanks!

I am currently using it in my android application using ionic 4 and it is working great. I just noticed that it still uses indexeddb when I open the dev tools (remote devices). Is there a config that I need to do so that it uses sqlite db? Thanks.

[2019-12-25 22:13] jepiqueau commented on #7
@carloliwanag  make sure to define the plugin in the MainActivity
[code]

[2019-12-25 22:15] jepiqueau commented on #7
@carloliwanag  sorry i also forgot you should make an import
```import com.jeep.plugin.capacitor.CapacitorDataStorageSqlite; ```

[2019-12-28 13:32] jepiqueau commented on #15
@socalrunner
can you have a look and test
``` npm install --save capacitor-data-storage-sqlite@dev```
can you revert to me on your testing the method openStore with different properties allow for encryption see below:
[code]

[2019-12-30 15:45] socalrunner commented on #15
@jepiqueau will do, I'll test it this week.  Thank you!

[2020-01-08 17:26] jepiqueau commented on #14
This has been implemented

[2020-01-08 17:26] #14 closed

[2020-01-18 11:39] jepiqueau commented on #15
@socalrunner  this has been implemented for IOS and Android plugins. this release of the plugin is going to be deprecated visit @jeepq/capacitor for new releases

[2020-01-18 11:39] #15 closed

[2020-01-18 11:41] jepiqueau commented on #10
@stevenroussey-privicy this is not yet implemented. This plugin is going to be deprecated visit @jeepq/capacitor for new releases. Can you re-open your issue over there thanks

[2020-01-18 11:41] #10 closed

[2020-01-19 00:15] socalrunner commented on #15
Thank you @jepiqueau, we'll pull that in and test it.

[2020-01-21 20:26] stevenroussey-privicy commented on #10
@jeepq/capacitor ? I don't see such a repo. Maybe misspelled?

[2020-01-22 08:17] jepiqueau commented on #10
@stevenroussey-privicy
look at ```https://github.com/jepiqueau/jeep/tree/master/capacitor/plugins-library```
to install it ```npm install --save @jeepq/capacitor@latest```

[2020-03-11 10:36] Trenacia commented on #7
Hello, why add these two lines to this file ?

I don't have them and it works very well.

[2020-03-12 08:09] jepiqueau commented on #7
@Trenacia
That is not possible without these two line in the MainActivity of your App in Android only. So basically it works but you are using the storage with the web browser and not  to sqlite database.

[2020-03-29 09:05] disbelief opened #17 "Capacitor 2.0.0 / AndroidX support"
With Capacitor 2.0.0 coming — which switches to AndroidX — the `capacitor-data-storage-sqlite` plugin will need to be updated to continue functioning.

I've tried using [jetifier](https://www.npmjs.com/package/jetifier) to manually update the plugin locally, but my Capacitor app isn't finding the `CapacitorDataStorageSqlite` class after doing so:

[code]

It may be as simple as using Android Studi

[2020-03-29 13:46] disbelief commented on #17
I whipped up a PR for this #18

[2020-04-01 07:33] jepiqueau commented on #17
@disbelief Thanks for your comment, I noticed that when upgrading to Xcode 11.4 i could not recompile my capacitor projects and as i was working on updating my web components for the new stencil 1.11.2 and having quite a lot of issues i was telling to myself that i would wait capacitor 2 to do something but i may have a look earlier to the beta release

[2020-04-01 07:57] disbelief commented on #17
For what it's worth I'm running the beta release and haven't noticed any issues. I've been waiting for 2.0.0 for quite some time, but there doesn't still appear to be a release date set. Who knows when it'll be merged, but maybe this Xcode nonsense will drive the capacitor devs to speed it up a bit?

[2020-04-04 05:32] disbelief commented on #17
Looks like [capacitor version 2.0.0 has officially been released](https://github.com/ionic-team/capacitor/releases/tag/2.0.0)

[2020-04-04 07:00] disbelief commented on #17
I submitted a new PR with the changes I made for capacitor 2.0.0 support, if you're interested. It is working for me in my app currently: #19

[2020-04-05 12:23] bleuscyther commented on #17
May change :
[code]

[2020-04-06 04:55] disbelief commented on #17
@bleuscyther I fixed those typos in the Readme (e0dbd76) let me know if there's anything else.

[2020-04-06 10:18] bleuscyther commented on #17
Everything is good so far, i am using your pull request since yesterday

[2020-04-09 11:26] jepiqueau commented on #17
@disbelief This is now included in the last release 2.0.0-1 of capacitor-data-storage-sqlite. Thanks for having provided in advance a pull request for other users. I have now close the pull request and will close this issue. Many thanks for using the plugin

[2020-04-09 11:26] #17 closed

[2020-04-12 00:42] darkedges opened #20 "Type net.sqlcipher.AbstractCursor$SelfContentObserver is defined multiple times"
Not sure whethere is this modules issue or something else.
Not sure where the second instance is coming from.

using Ionc 5 framework and followed the instruction in the README

[code]

[2020-04-12 02:28] darkedges commented on #20
By adding  `multiDexEnabled true` to `build.gradle` within `android \ defaultConfig` I was able to bypass this error. Could not find out why there was a duplicate class though.

[2020-04-12 06:02] jepiqueau commented on #20
@darkedges Hi, first thanks for using this plugin, Can you tell me more about the context in which this happening. Is it when you where doing encryption of the store or is it when you are get, keys, values or keyvalues methods ?

[2020-04-12 20:49] darkedges commented on #20
Seemed to have cleaned it up by doing a `gradle clean` without adding `multiDexEnabled true`. Can close this as Developer error.

[2020-04-12 20:49] #20 closed

[2020-04-16 22:31] moose4lord opened #21 "For PWAs, "IDB" is appended to the end of the IndexedDB database name."
First of all, thank you for such a handy package to manage local storage. I'm thrilled it works on both mobile devices and PWAs. Just what I need to migrate from Cordova to Capacitor. But there's a catch:

My existing Ionic/Cordova app stores data in IndexedDB under a specific database name. Unfortunately, capacitor-data-storage-sqlite insists on appending "IDB" to the database name I pass to the

[2020-04-17 07:01] jepiqueau commented on #21
@moose4lord Thanks for using the plugin. Yes, you right, i am appending IDB to the storage name for browser an SQLite.db for Native Platforms and Electron. This was done from the beginning and so difficult to modify as a number of people are using the plugin like this from the beginning. The best way for you is to rename the Cordova IDB database by adding IDB at the end. or to write a piece of cod

[2020-04-18 11:52] moose4lord commented on #21
I understand. I'll figure something out.

Thanks

[2020-04-18 11:52] #21 closed

[2020-04-20 13:11] asgeo1 commented on #14
I tried out the `StorageAPIWrapper` class, but found that it didn't work out of the box when hydrating data.

The problem is that `redux-persist` will call `storage.getItem` when hydrating, but at that point `StorageAPIWrapper.openStore` has not been called, so there's nothing to hydrate and throws an error.

I couldn't figure out a way to call `StorageAPIWrapper.openStore` prior to calling creati

[2020-04-21 05:45] jepiqueau commented on #14
@asgeo1 First thanks for using the plugin and for your comment. The wrapper was given as an example to conform to the storage API. I do not know enough about redux-persist, so i do not have any problem with what you suggested. Nevertheless, I wonder why you cannot open the store in your app before redux-persist will call storage.getItem, which framework are you using? At the end what is important

[2020-04-21 06:25] asgeo1 commented on #14
Hi @jepiqueau, I'm using `redux-persist` alongside `redux-toolkit`.

I basically have code that looks like this:

[code]

So I do call `openStore()` before I setup the store with `redux-persist` / `redux-toolkit`.  But because `openStore` is async, the timing is wrong.   It will execute `configureStore` before `openStore` has finished running, triggering an error.

I'm sure there's a way to `await

[2020-04-21 12:15] saas786 opened #22 "I want to debug the sqlite db created by this plugin..."
Hi @jepiqueau

I am using your plugin, and I would like to debug / inspect the sqlite db I create using this plugin,

any suggestions,

by default it doesn't seem to show up in chrome inspection tool.

I have found this reply:

https://stackoverflow.com/a/51350719

Which suggests Stetho by facebook, but not sure how to use it.

Also:

this article seems to make sense to me:

https://dzone.com/arti

[2020-04-21 18:11] jepiqueau commented on #22
@saas786 On which platform are you using the plugin?
For Electron, Android and IOS which are SQLite database, i am using DB Browser for SQLite which is a free software. You copy the database from the device to a folder on your PC or Mac and you load it int DB Browser for SQLite
For Web browser using the Google Tools  Application folder, you will find the database in IndexDB

[2020-04-22 07:44] jepiqueau commented on #14
@asgeo1 i am looking at it, can you share the code of the StorageAPIWrapper you are using as i have made so much changes that i do not know the one referenced by ` import { StorageAPIWrapper } from './storage-api-wrapper'`

[2020-04-22 08:05] asgeo1 commented on #14
Hi @jepiqueau, cool thanks. My version of `StorageAPIWrapper` is the same as what I put in my first comment - https://github.com/jepiqueau/capacitor-data-storage-sqlite/issues/14#issuecomment-616543039

[2020-04-22 08:11] jepiqueau commented on #14
@asgeo1 sorry you already give it

[2020-04-22 08:20] jepiqueau commented on #14
@asgeo1
can you provide the code for rootReducer

[2020-04-22 08:23] asgeo1 commented on #14
Sure, I have this:

[code]

You'd have to change `toolbar-reducer` to whatever your case is though

[2020-04-22 11:30] saas786 commented on #22
iOS & Android, correct I am able to do it like that, but I am looking for more interactive solution.

If I don't use your plugin, I can see the data stored in IDB via chrome inspector, and interact with it, which is how I would like to interact with database generated using your plugin (.sql file).

Any top of the head suggestions?

[2020-04-22 15:14] jepiqueau commented on #14
@asgeo1 There is no way as the <Provider store={store}> is hydrated first in the app process.
in the store.ts file you defined only
[code]
it can also be if you want to specified the database name and table name
[code]

so i modified the wrapper as follows
[code]
This should work

[2020-04-22 16:39] jepiqueau commented on #22
@saas786 On Chrome if you look at more tools and development tools you go to the application folder and you will see the database  under IndexedDB the storageIDB database and under it the storage_store table and if you click on the table you will see on the right the key/value pair. If you have given a database and table names you will also see them under IndexDB databases.

[2020-04-23 00:25] asgeo1 commented on #14
Yeah cool, that works well 👍

[2020-04-23 06:15] jepiqueau commented on #14
@asgeo1 Ok you are welcome

[2020-04-29 07:58] #22 closed

[2020-06-10 06:38] jaimyborgman opened #23 "multiple database (tables) at once"
To start with: many thanks for providing this plugin as a database solution for capacitor, really awesome!

I'm using it in a VueJS/Ionic/Capacitor project, in which I'd set up multiple tables; but currently running into the issue that while loading multiple items from different tables (at least that's the idea) I'm always connecting to only one.

I've made this helper too connect to a database (s

[2020-06-11 06:19] jepiqueau commented on #23
@jaimyborgman to avoid parallelism issues working on a wrong table the database is internally closed after each transactions. When one open the store you only save internally the data store name which avoid to give the store name for each transaction that is it. Hope you will find a solution for your problem with vuex which i do not really understand without more explanations. Thanks again for usi

[2020-06-26 19:48] zanethomas opened #24 "sqlite?"
This repo appears to have nothing to do with sqlite but instead is some sort of key/value layer? The name is confusing.

[2020-06-27 06:14] jepiqueau commented on #24
@zanethomas first thanks for looking at the plugin. A bit surprised by your reaction. It has something to do with SQLLite. as mentioned in the README
[code]
So the plugin is doing what is said `Storing key-value pairs to a store` which is the meaning of the name of this plugin
Now, if you are looking to use SQLite for creating databases with table's schemas and data you should be looking at capaci

[2020-07-09 05:49] #24 closed

[2020-08-09 22:16] pritamsoni-hsr opened #27 "Performance Issue + feature request"
**Describe the bug**
Running into performance issues when trying to update and add data frequently.

**To Reproduce**
Steps to reproduce the behaviour:
after fetching a list of dictionary, I need to store that list and update the dictionary if key is present multiple time times in the list. I'm facing performance issue. I can do something similar to bulk create/update.
here is a code snippet.
![Sc

[2020-08-10 14:04] jepiqueau commented on #27
@pritamsoni-hsr first thanks for using the plugin. I just do not really understand what you want to achieve,
as said in the doc it is a key-value pair storage for simple data  of **type string only**
i assume that your response object is of type `{timestamp: "2020-08-10",value:{key:93, value:"medium"}}`
so the use of store.setItem should be  async store.setItem("2020-08-10",JSON.stringify({key:93,

[2020-08-10 17:42] pritamsoni-hsr commented on #27
My bad I wasn't deconstructing the objects properly, and about the string thing, `JSON.parse` and `JSON.stringify` can be added to the base wrapper class, so devs never have to worry about datatype and parsing or storing it.
Storing in the array (like your second snippet) would increase the time complexity, and will make code ugly.
Thanks

[2020-08-10 17:42] #27 closed

[2020-08-13 16:46] pritamsoni-hsr opened #28 "Usage Guidelines"
Hi @jepiqueau , so my app has like lots of components which will be in the DOM at any time (Ionic application) and where I need to share data, some of them needs to fetch and update very quickly. I'm not sure if the approach you mentioned is great/efficient considering that when it will run on native platform. for instance say I've 10 components, and I've loaded initial state from storage, but whe

[2020-08-13 17:48] pritamsoni-hsr commented on #28
I'm using the method at only places where I need to access data very frequently.
at other places where I only need key value kinda values, I'm using this
[code]

[2020-08-14 06:05] jepiqueau commented on #28
@pritamsoni-hsr i do not really understand what you try to achieve and what is the issue. i didn't advise any approach i was just answering to your issue .In native apps, the datastore for security access is opened and closed after each commands. The openStore should only be call once when you create the datastore and the table. if you want to add a table in the datastore you can use the setTable.

[2020-08-20 06:24] jepiqueau commented on #28
@pritamsoni-hsr Any news ?

[2020-08-20 11:46] pritamsoni-hsr commented on #28
Hi @jepiqueau I read the instructions obviously, my question was when multiple multiple components are accessing db, it might be slightly inefficient, but that's not the actual problem, thanks for mentioning usage again.
The actual problem comes when there is no method like getAll values, like sql filtering based on keys.
`capacitor-sqlite` is much powerful in these terms but I like the simplicity

[2020-08-21 08:39] jepiqueau commented on #28
@pritamsoni-hsr Can you be more specific with this `like sql filtering based on keys` by giving an example and/or detailing the specification of that new method. I do not have any problem to add a functionality if it is required

[2020-08-23 17:20] jepiqueau commented on #28
@pritamsoni-hsr  Key based means for you `return all keys where the key contains or startsWith a string`?

[2020-08-23 17:22] pritamsoni-hsr commented on #28
**values** where `key either startsWith contains a string`

[2020-08-23 17:31] jepiqueau commented on #28
@pritamsoni-hsr Ok now that i have understood i might have a look for iOS, Android and Electron platforms only

[2020-10-21 11:28] codal-sbelim opened #29 "Error: connectionFailed: Unable to open a connection to database"
I have designed my storage services as you suggested here.
https://github.com/jepiqueau/capacitor-data-storage-sqlite/issues/28#issuecomment-673904032

But unfortunately, I am getting a connection failed error after 120+ database queries.
Here is the detailed log of connection error I am facing. Any help would be appreciated.

`⚡️  To Native ->  CapacitorDataStorageSqlite get 34734185
connection:

[2020-10-21 16:49] jepiqueau commented on #29
@codal-sbelim Which version of the plugin are you using ? Have you had a look to `https://github.com/jepiqueau/angular-data-storage-sqlite-app-starter` to write your service?

[2020-10-22 07:38] codal-sbelim commented on #29
@jepiqueau I am using `"version": "2.1.0"`, and yes, I did took a reference from that repo and using that same store service. Just updated `openStore ` function a little bit as described in the previous comment to avoid multiple calls to open the database store.

[2020-10-22 09:56] jepiqueau commented on #29
@codal-sbelim upgrade to capacitor-data-storage-sqlite@2.4.2-1 which is the latest release. I do not understand what you try to achieve the store is defined once when you call the first openStore command which is creating the store. After this the plugin is dealing with the connection to that store for each other commands and close the connection after processing them. So you do not have to do any

[2020-10-23 16:15] codal-sbelim commented on #29
I stopped facing this issue after upgrading the plugin to `version 2.4.2-1`
Thank you @jepiqueau

[2020-10-23 16:16] #29 closed

[2020-10-24 07:15] dhwalin opened #30 "Need some pro tips to use in ReactJS"
I have multiple components in multiple pages.

So do I need to open store everytime? Or openstore in App.tsx once and then just start setting items (setItem) by using setTable in different components of different pages?

I am beginner in ReactJS, so asking.

[2020-10-26 08:26] jepiqueau commented on #30
@dhwalin Have you look at `https://github.com/jepiqueau/react-datastoragesqlite-app` ? this is an example app of how to use it. As on each page you import
[code]
and define `useStorageSQLite()`
[code]

You the need to open the datastore for each page before using it. if you need to access a second store in the same page you run the command `openStore` on this second store and use any other command

[2020-10-26 11:39] dhwalin commented on #30
That's perfect. Thank you.

One more thing. In Readme.md (https://github.com/jepiqueau/capacitor-data-storage-sqlite/blob/master/readme.md)

public async getKeysValues(): Promise<Array<string>> {
    const { keysvalues } = await this.storage.keysvalues();
    return keysvalues;
  }

Get all keys-values is not explained. So if you can add, other user will get help directly.

[2020-10-26 11:39] #30 closed

[2020-10-27 10:53] dhwalin opened #31 "setTable not setting table sometime."
I am using following code for save the data to first table and then set second table and insert new data into it. But a thing happen is Key and Value of second table is getting overwrite in first table. So I guess table 2 is not getting changed. Please let me know if I am making some mistake.

[code]
profileImg is base64 image value. profileImgURL is image path.

So I want to save profileImgURL in

[2020-10-27 16:36] jepiqueau commented on #31
@dhwalin Is it with Electron platform ?

[2020-10-27 19:46] jepiqueau commented on #31
@dhwalin This is fixed in release 2.4.2-2 of the `capacitor-data-storage-sqlite` plugin. The `https://github.com/jepiqueau/react-datastoragesqlite-app` has been updated (version 1.0.3) to show an example of that fix. Thanks for contributing to the debugging process. Enjoy

[2020-10-28 09:08] dhwalin commented on #31
iOS Platform

ERROR MESSAGE:  {"message":"setTable: Must provide a table name","errorMessage":""}

My code is as follow.

[code]

Am I making any mistake?

[2020-10-28 16:17] #31 closed

[2020-10-29 06:26] dhwalin opened #32 "JSON parse error: Unexpected identifier "data""
Platform iOS:

First I am opening database with getstarted table. Storing values in variable. Then setting the another table & trying to get its value. This time value is json stringify so converting to JSON.parse,

But returns the error: **JSON parse error: Unexpected identifier "data"**

[code]

Please guide if I am missing something.

[2020-10-29 07:05] jepiqueau commented on #32
@dhwalin it is difficult to answer without having the value for the key profileId.You should `console.log("value_result ", value_result)` to see what it is returned by the plugin.

[2020-10-29 08:04] jepiqueau commented on #32
@dhwalin
you could write
[code]

[2020-10-29 08:24] dhwalin commented on #32
I am receiving following values every-time. This seem something weird. Can "data" keyword in path make an issue? & the strange is, it doesn't give error in first attempt.

If go back to page and repeat same process without refresh, it is occurring.

[code]

[2020-10-29 09:17] dhwalin commented on #32
Sorry, it seems problem with my code. useEffect was causing issue. Thank you. This package is awesome.

[2020-10-29 09:17] #32 closed

[2020-11-07 20:54] jepiqueau commented on #28
@pritamsoni-hsr The new release 2.4.2 fix this issue by adding by new method `filterValues(filter)` where filter is a string.
 - filter = "%foo" to filter keys starting with "foo"
 - filter = "foo" to filter keys containing "foo"
 - filter = "foo%" to filter keys ending with "foo"

[2020-11-08 06:28] pritamsoni-hsr commented on #28
Awesome Thanks @jepiqueau

[2020-11-08 06:28] #28 closed

[2020-12-21 15:10] dimaip opened #34 "Transpile the code to ES5 for older browsers"
**Describe the bug**
The code in the package is not transpilled e.g. it's using ES6 `class` construct.

**To Reproduce**
Run the code in older browsers e.g. IE11.

**Expected behavior**
The code should be transpiled to ES5 or at least a warning in big letters should be given at the top of the readme.

[2020-12-22 08:47] jepiqueau commented on #34
@dimaip thank you for your comment, i did not test is on IE11 as i do not have it. Do you know an easy way to transpile it to ES5?

[2020-12-22 15:44] dimaip commented on #34
@jepiqueau thanks for the reply!
Oh man, that's a complex topic. Basically you need to setup Babel to compile your source ES6 files to ES5 for you, which you'd trigger before making the release or automate it somehow.
But I guess it's also fine to not transpile it at all, just mention clearly in the readme that you'd need to transpile the code of this package in order to work in older browsers.

[2020-12-23 07:26] jepiqueau commented on #34
@dimaip
I discussed this through the capacitor contributors Slack channel. A doc will be issued some time on that subject as all the new Ionic Capacitor plugins are ES6 in the coming 3.0.0 release.
I will the follow your advice, put the following note in the README of each of my plugins:
`the plugin is ES6 compatible and cannot be used with ES5 apps without being transpiled`
Thanks for pointing ou

[2020-12-23 18:55] dimaip commented on #34
Thanks!
I guess all devs who need IE11 support which I believe would still be the majority...

[2021-01-08 15:27] tjblackheart opened #35 "Queries with enabled encryption are incredibly slow"
**Describe the bug**
Hi @jepiqueau , I am looking for an encrypted key/value store for capacitor and found your plugin. While implementing and using this without any encryption works fine, it gets really slow when I enable the encryption and use it with more than one table on the same DB (not tested with just one table though).

All of this relates to an Android build and running it on a real devi

[2021-01-09 13:04] jepiqueau commented on #35
@tjblackheart First thanks for using the plugin. Yes, i notice too that it is quite slow with Android which is less visible for iOS. I should rewrite the android plugin by using `androidx.sqlite.db` like i did for the `capacitor-community/sqlite` plugin and remove the open and close the database after each set or get operation. This will take me a bit of time to do but it will come.  (i have to pr

[2021-01-10 06:26] jepiqueau commented on #34
@dimaip this has been added to the README file

[code]
Hope this clarify. It has been added to all my plugins. Thank for pointing out that to me.

[2021-01-10 06:26] #34 closed

[2021-01-11 08:53] tjblackheart commented on #35
Hi, thanks for the quick answer! We're using ionic with vue (v3). However, after a deeper code inspection I think this is not only a plugin issue - there are way to many writes happening, so the (expected) overhead of the encrypted storage writes add up and make this thing so slow. I think I have to refactor quite a bit and do the DB writes not on each data change, also move them to the background

[2021-01-12 08:20] jepiqueau commented on #35
@tjblackheart I have started to rewrite the code for Capacitor 3 and accommodate for multiple store instance and so i will eliminate the open and close of the store instance at each call of a method. This will help a lot for the speed, even if the encryption will be still slowing done the process. We have seen huge speed improvement in doing this for the `@capacitor-community/sqlite@refactor` so i

[2021-01-12 09:16] tjblackheart commented on #35
Sounds good! For the time being, I now write all of the data to just one table as a big JSON blob, and also do that asynchronous in the background via a watcher, so the app store is not totally depending on the DB store anymore. This works fine regarding the speed, so no worries here.

Could you tell me about how/where the encryptoin key is stored on the device? Do you use the keychain API for thi

[2021-01-12 15:31] jepiqueau commented on #35
@tjblackheart As mentioned in the API.md documentation the keys (passphrases) are stored in

[code]
Moving to capacitor3 will require some changes in the app see `https://capacitorjs.com/docs/v3/updating/3-0`
and certainly the interface to the plugin will sligthly change but i will try to keep the data and the store as they are.

[2021-03-09 20:38] kzka90 opened #36 "Deleting an specific Table"
How can I delete an specific table? If I pass the table name via the `deleteStore(options: capOpenStorageOptions)` on the `options` parameter, will it only delete that specific table? I don't want to delete the whole store.

[2021-03-12 04:08] jepiqueau commented on #36
@kzka90 Thanks for using the plugin. There is no method implemented for this. deleteStore will delete the whole store. It is something which have to be added. May be when moving to capacitor 3.

[2021-03-16 18:37] kzka90 opened #37 "Error: CREATE TABLE statement could not be prepared (iOS)"
For some reason, it seems that I cannot `setTable` under iOS (Web works good. Haven't tried Android)

I keep getting the following error message:

[code]

I'm trying to set the table like this:
`const { result, message } = await this.storage.setTable({table:"testing_table"});`

What could be causing this error?

I'm building over iOS 14.4.

[2021-03-17 06:16] jepiqueau commented on #37
@kzka90 Thanks for using the plugin, i will have a look. I am currently quite busy with the move of @capacitor-community/sqlite to Capacitor3. So you have to be patient i will look at this when updating the plugin to Capacitor3 as it will require to go through all the code.

[2021-04-02 15:49] gerciljunio opened #38 "Package update forecast"
I updated an application that I am developing for version 3 of the capacitor and due to an error of mine (very serious) I unfortunately had not seen that this package had not yet been updated. I know you are working on updating @ capacitor-community / sqlite but, do you have any idea (a prediction) when this package will be updated for capacitor 3?

[2021-04-03 06:38] jepiqueau commented on #38
@gerciljunio hi, thanks for your request, it is on my TODO list, i am finalizing some fixes on the capacitor-video-player and after i will start the migration of the capacitor-data-storage-sqlite which may take some times to do. Hope in a meantime they will not be blocking issue on @capacitor-community/sqlite plugin. Which platform do you need at first if there is one?

[2021-04-08 12:22] gerciljunio commented on #38
@jepiqueau sorry for the delay in responding, so I'm creating an application for Android and iOS, I would need for these two platforms, but if we choose one, it's Android! These days that I took a while to respond I was creating a simple alternative while your package is not updated which for now, will solve the problem temporarily! but i will keep an eye here and thank you very much for your pack

[2021-04-08 14:08] jepiqueau commented on #38
@gerciljunio i just start upgrading but i started with the iOS as i did not know what was your priority. The first release alpha.1 should not be used as it is just to help debugging and installing on the testing app. This is now my priority

[2021-04-10 18:36] jepiqueau commented on #38
@gerciljunio both Android and iOS are now available.The Android part has been completely rewritten and based on `androidx.sqlite` the close of the store has been removed after each transaction for performance improvement. so a `close` method has been added this will be done on the iOS version soon. If you use it report any errors if any thanks

[2021-04-12 20:09] Ahmedesayed opened #39 "Wrong parsing data in values array parameter in query function"
There is a problem in parsing data in query function , if you pass a number in values array it will be parsed as a string which will make a wrong query

[2021-04-13 07:02] jepiqueau commented on #39
@Ahmedesayed  Which plugin are you talking about `capacitor-data-storage-sqlite` or `@capacitor-community-sqlite` . Can you provide your package.json file and the code part where the issue occurs

[2021-04-14 12:14] gerciljunio commented on #38
@jepiqueau I'm starting to use the package and tests today, I'm going to inform you here, thank you very much!

[2021-04-18 14:53] gerciljunio commented on #38
@jepiqueau all good? for now the package is working perfectly, I did not find any problem, but if something appears I will report here for you.

[2021-04-19 05:39] jepiqueau commented on #38
@gerciljunio Thanks for the feedback and thanks for your contribution to testing. Do not hesitate if you find something.

[2021-04-19 05:39] #39 closed

[2021-04-19 05:46] jepiqueau commented on #35
@tjblackheart this has been addressed in release 3.0.0-alpha.6 (iOS & Android)

[2021-04-19 05:46] #35 closed

[2021-04-19 05:47] jepiqueau commented on #36
@kzka90 this has been added in release 3.0.0-alpha.6 (iOS & Android)

[2021-04-19 05:47] #36 closed

[2021-04-19 05:48] jepiqueau commented on #37
@kzka90 this has been added in release 3.0.0-alpha.6 (iOS & Android)

[2021-04-19 05:48] #37 closed

[2021-04-19 05:49] jepiqueau commented on #38
@gerciljunio Web & Electron parts of the plugin will come later

[2021-05-21 03:53] dhwalin opened #40 "Unhandled Rejection: CapacitorDataStorageSqlite plugin is not implemented on Android"
Getting error:
[code]

Using Capacitor ^3.0.0

[2021-05-21 07:02] jepiqueau commented on #40
@dhwalin Hi, I am out till next week so I did not upgraded to Capacitor 3.0.0 my plugins. It seems according to a note in Slack contributor that you need to update the gradle to release 7 in Android. Can you try and tell me if it works

[2021-05-22 04:21] dhwalin commented on #40
I upgraded to 7 but other plugins also stopped working. I will give you update soon. Thank you.

[2021-05-27 19:02] Gilmar-Gomes opened #41 "Import/Export feature"
First of all, congratulations and thanks for the brilliant work and contribution to the community!

I have projects that use the library and benefit from all its resources. However, it would be extremely useful if there were methods to import / export (dump) a datastore in json format for purposes like backup and packaging for data synchronization. What would be the possibility of supporting this

[2021-05-28 06:13] jepiqueau commented on #41
@Gilmar-Gomes Thanks for using the plugin and make proposal for improvements. I will have a look at this when i will have completed the upgrade of my 4 plugins to Capacitor 3 . Hope you can wait till there.

[2021-06-09 07:14] jepiqueau commented on #38
@gerciljunio Everything is fix in 3.0.0. So i close the issue

[2021-06-09 07:14] #38 closed

[2021-06-09 07:19] jepiqueau commented on #40
@dhwalin Everything is fixed now in 3.0.0 see also angular-data-storage-sqlite-app-starter which has also be upgraded to release 7.0 of Android gradle. so i close the issue

[2021-06-09 07:19] #40 closed

[2021-06-17 10:12] dhwalin opened #42 "Uncaught (in promise) no returned value for key getstarted"
I am getting no returned value for key. Here is my code.

I want to do something like:

Check a key "getstarted" if it is not exist create it.

Error: Uncaught (in promise) no returned value for key getstarted

Versions:
"react": "^17.0.2",
"react-data-storage-sqlite-hook": "^1.0.0"
"capacitor-data-storage-sqlite": "^3.0.1",

### CODE
[code]

[2021-06-17 13:48] jepiqueau commented on #42
@dhwalin you should use try catch and you will see that getItem returned an error message when no value returned so the best for this is to use const ret = await isKey ('getstarted')  and if (!ret) {...}

[2021-06-18 04:24] dhwalin commented on #42
Thank you it works.

[2021-06-18 04:24] #42 closed

[2021-06-28 21:27] mwpb opened #43 "Documentation clarification: status of iOS part of project"
Firstly, thanks for creating this plugin. This is not so much a bug report but more a request for clarification in the documentation. In both

https://github.com/jepiqueau/capacitor-data-storage-sqlite/blob/master/docs/API.md

and

https://github.com/jepiqueau/capacitor-data-storage-sqlite/blob/master/docs/USAGE.md

there is the statement

`iOS for testing only`

Now I have done a very limited tes

[2021-06-29 06:55] jepiqueau commented on #43
@mwpb thanks for using the plug-in the iOS part is fully working. Thanks for pointing me this error in the doc. I forgot to remove it when releasing verso 3.0. As I am in vacation can you make a PR I will approve it Many thanks

[2021-06-30 02:04] mwpb commented on #43
Hello @jepiqueau thanks I'm going to create a pull request momentarily. This is the first time I've done this so please let me know if there is anything wrong and I'll fix it.

Also, there is no rush from my perspective. Enjoy your vacation!

For the future, I'd be willing to add a section in the docs for vanilla TypeScript (in parallel to Angular that already exists) if that would be useful.

Tha

[2021-07-05 09:34] triviware opened #45 "Capacitor 3 Upgrade and single quotes in data make sqlite inserts fail."
First of all, i consider this a bug because on the previous version (before Capacitor 3), i had not problem with my data.

ONLY AFFECTS ANDROID. BROWSER AND IOS works fine.

When you try to save some string that contains single quotes (not escaped), plugin fails. Besides, the error says that plugin doesn't work on Android, which is not true.

I had this issue on a Ionic/Angular app, tested on a ZT

[2021-07-05 10:09] jepiqueau commented on #45
@triviware thank you for using the plug-in can you share an example of data which fails so I can reproduce the error. I am still travelling so I will look at it in 2 days from now. Hope you can wait till there

[2021-07-06 06:08] jepiqueau commented on #43
@mwpb i merged the PR. Fill free to add a section in the docs for vanilla Typescript. Make a new PR that i will merge

[2021-07-06 15:55] jepiqueau commented on #45
@triviware This has been fixed in 3.0.2 Thanks for helping in the debugging process.

[2021-07-07 14:30] triviware commented on #45
@jepiqueau Yes, it works now! Thank you and sorry, you were faster solving this than me giving you an example!

[2021-07-07 17:23] jepiqueau commented on #45
@triviware you are welcome. So I close the issue

[2021-07-07 17:23] #45 closed

[2021-07-08 22:41] mwpb commented on #43
Ok sounds good @jepiqueau . Might take a little while to get around to this but when it is ready I'll put in a PR. As for the current issue, feel free to close as you see fit. Thanks,

[2021-07-09 04:31] jepiqueau commented on #43
@mwpb thanks for your contribution I close the issue

[2021-07-09 04:31] #43 closed

[2021-08-05 09:22] flipace opened #48 "Debug logs in distribution build"
**Describe the bug**
Various debug `console.log`s are in the distribution build.

Maybe it would make sense to switch to e.g. the [debug](https://www.npmjs.com/package/debug) package instead for such things?

**To Reproduce**
Just use the plugin in the web version, and you'll see the `console.log` output, eg from here: https://github.com/jepiqueau/capacitor-data-storage-sqlite/blob/7965804c40a3c36

[2021-08-05 11:51] jepiqueau commented on #48
@flipace You right i will remove them in the next release

[2021-08-05 12:22] jepiqueau commented on #48
@flipace fix in release 3.1.2-3. Fill free to close it when tested

[2021-08-13 12:25] #48 closed

[2021-08-17 21:17] garbit opened #50 "Specify database sqlite file location when creating a store"
**Is your feature request related to a problem? Please describe.**
When initializing the sqlite store I'd like to be able to specfiy where I'd like the resulting ```.db``` file will be stored on my disk (iOS + Android).

**Describe the solution you'd like**
As part of the ```capOpenStorageOptions``` I'd like to be able to specify ```path``` to assign a database file path when initializing the stor

[2021-08-18 06:19] jepiqueau commented on #50
@garbit Is it for the Electron plug-in or for the native plug-ins. I do not really understand the reason for adding that complexity to the plug-in.  No one has ask for since the launch of the plug-in. Can you elaborate on the reasons behind this query?

[2021-08-18 19:21] garbit commented on #50
Hi @jepiqueau I'm using the native plug-ins (iOS specifically) so that I can logically structure my local files. I'm creating an app where the user can load files into the system by dropping them into a specific folder. However, with the .db files in the root folder they might be easily deleted by a novice user when altering the folder structure.

[2021-09-06 15:17] garbit opened #51 "How frequently should I call closeStore?"
Hi there,

I'm using Vue + Vuex actions on iOS to query the db. These actions typically look like the following:

[code]

How frequently should I be calling ```.closeStore({options})```?

Currently with the ```sqlStore.closeStore``` I'm getting the following error:
[code]

[2021-09-07 13:25] jepiqueau commented on #51
@garbit I do not know Vuex actions. For me if you open a store in an action you should close it also. Or may you can split your action in 3 actions one open the store, one doing the stuff and one closing the store. In that case you may have another action doing another stuff  but may be i am wrong

[2021-09-07 13:30] jepiqueau commented on #50
@garbit I understand but i am not sure i will do this. Where the /MY_DIRECTORY_PATH_HERE will be residing under Documents, Applications, Library ... ?

[2021-09-07 13:35] jepiqueau commented on #41
@Gilmar-Gomes Thank for your patience. this enhancement has been fixed in version 3.2.0 of the plugin

[2021-09-09 11:47] jepiqueau commented on #51
@garbit Is my answer was helpful or did you find your way. Opening and closing a store is time consuming so if you can avoid to do it when not required it would be beneficial. Feel free to close this as it is not really an issue

[2021-09-11 15:57] garbit commented on #51
This appears to be a bug. I'm opening and closing after each operation and for larger operations (with multiple inserts) I'm finding that my DB on iOS keeps erroring with:
[code]

I can't seem to get around the db eventually causing this error.

[2021-09-11 16:00] garbit commented on #50
This seems to be out of scope of the project at the moment. Closing the issue.

[2021-09-11 16:00] #50 closed

[2021-09-11 16:27] jepiqueau commented on #51
@garbit can you share your code or make a smaller code reproducing the error and share it

[2021-09-11 17:15] garbit commented on #51
I've created an example app that includes the vuex store (src/store/index.ts) for interfacing with the sqlite db. You'll need to add ios to the project and set your team credentials so that you can run the code on a native iOS device.

1. Clone repo [https://github.com/garbit/capacitor-data-storage-sqlite-debug-project](https://github.com/garbit/capacitor-data-storage-sqlite-debug-project)
2. npm

[2021-09-11 17:24] garbit commented on #51
For confirmation - this issue only appears in iOS. When working in a web browser this issue does not appear.

[2021-09-12 01:59] garbit commented on #51
The error ```set: The operation couldn’t be completed. (CapacitorDataStorageSqlite.StorageHelperError error 5.``` specifically occurs after I perform lots of writes and then call close straight afterwards. When I don't close the db I don't have an issue.

Is the await on the ```.set``` not actually fully completing the entire write to db before the promise is resolved?

[2021-09-12 06:45] jepiqueau commented on #41
@Gilmar-Gomes When you will have test it. Please close the issue

[2021-09-12 09:57] jepiqueau commented on #51
@garbit I am working on it what i found right now:
- you should not have `await store.dispatch(ACTIONS.SELECT_ALL_TAGS)` in App.vue as you have it in TestView.vue ` onIonWillEnter` this was creating a RC: 21 on close as you add to times open the store and close it twice so the second time it cannot close it as it is already close.
- to see it replace in all your actions the finally block with
[cod

[2021-09-12 10:32] garbit commented on #51
Thank you for taking a look at the codebase. It's very much appreciated. I had a couple of questions:

"you should not have await store.dispatch(ACTIONS.SELECT_ALL_TAGS) in App.vue as you have it in TestView.vue onIonWillEnter this was creating a RC: 21 on close as you add to times open the store and close it twice so the second time it cannot close it as it is already close."

I noticed I was doi

[2021-09-12 12:45] garbit commented on #51
I've pulled your code and have tried the new code (looks like it works). However when I try a more extreme attempt of reading/writing to the db I still get issues.

I've found that there is still an issue if you perform a block of writes, then query individual rows (worst case scenario).

See below (I'll also add this to the repo):
[code]

Errors:

[code]

[2021-09-12 12:53] jepiqueau commented on #51
@garbit
- I tested it in Android and it works too.
- to avoid the mess with dependencies remove ios, node_modules and package-lock;json and do a
[code]
What do you mean by more extreme attempt of reading/writing

If I did need to perform that action to initialize the app, how and where would be best to do this?
i have to look at it

[2021-09-12 13:53] jepiqueau commented on #51
@garbit you can have it in the main.ts
[code]
  setup() {
    const app = getCurrentInstance();
    const tags = app?.appContext.config.globalProperties.$tags;
    const store = useStore()
//    const tags = ref([] as Tag[])
    const mediaObjects = ref([] as MediaObject[])

    onIonViewWillEnter(async () => {
      console.log("$$$ in TestView onIonViewWillEnter")
      console.log("$$$ TestView

[2021-09-12 14:00] jepiqueau commented on #51
@garbit see implementation https://github.com/jepiqueau/capacitor-data-storage-sqlite-debug-project

[2021-09-12 14:20] jepiqueau commented on #51
@garbit Which simulator are you using i tested with `IPHONE 12 Pro Max`

[2021-09-12 18:04] garbit commented on #51
The usecase of inserting 1k rows and then querying each row again to pull it back out of the database is probably the worst case scenario so I thought I'd try doing that and I received the issues I described:

[code]

I've been running the code on an iPad Pro 11-inch 3rd Gen rather than a simulator.

I've cloned your repo and tried to build main but I'm getting build errors, not entirely sure why:

[2021-09-13 05:43] jepiqueau commented on #51
@garbit tell me what you do?
if you did this it should work
[code]

[2021-09-13 13:43] jepiqueau commented on #51
@garbit i assume you are using `yarn` and `yarn build`. in that case  i got the errors like you. I am not too much familiar with yarn i may have a look

[2021-09-16 10:03] jepiqueau commented on #51
@garbit No news from you

[2021-09-16 12:29] garbit commented on #51
Hi jepiqueau I'm using ```npm``` to manage the packages and I suspect that there has been some corruption of the dependancies.

As I was on a tight deadline I was unable to continue using this package and have swapped out my database tooling to use [@ionic/storage](https://github.com/ionic-team/ionic-storage) offical and the associated [localForage-cordovaSQLiteDriver](https://github.com/thgreasi/

[2021-09-16 13:06] jepiqueau commented on #51
@garbit I am sorry for this, good luck I am then closing the issue

[2021-09-16 13:06] #51 closed

[2021-09-16 13:07] garbit commented on #51
Thanks you for your help so far. Let me know if I can assist in finding the performance related bug in the package.

[2021-09-20 03:05] Gilmar-Gomes commented on #41
Ohh sure! thanks! I've tested it and works like a charm!

[2021-09-20 03:06] #41 closed

[2022-02-10 08:57] masimplo opened #53 "Documentation or examples on how to work with multiple databases efficiently"
Excellent job on a much needed plugin to move us away from the Cordova implementation of sqlite and localforage.

**Is your feature request related to a problem? Please describe.**
I am trying to use this plugin to replace the cordova localforage one and Ionic Storage, but from what I have tried so far I can't figure out in which way we are supposed to use multiple databases on the same app. For i

[2022-02-10 16:38] jepiqueau commented on #53
@masimplo thank for looking at the plugin this one is a simple key/value store and can work with multiple tables in a store but to work with multiples stores you need to open and close one before to use a second one. Simultaneous open databases can be donc by using the more sophisticated plugin @capacitor-community/sqlite you may look at that one to solve your  problem.

[2022-02-12 09:00] jepiqueau commented on #53
@masimplo Did you progress on the issue? Have  you move to @capacitor-community/sqlite?

[2022-02-12 09:06] masimplo commented on #53
Hello @jepiqueau, thanks for replying. As I said I am using Cordovalocalforage as it is a more complete solution. @capacitor/sqlite needs some facades above it to behave like a document store and I think support for that is still on the early stages.
I thought your project was implementing the above, but after giving it a try I realised what you just stated, which is a pity for me because your wor

[2022-02-12 09:53] jepiqueau commented on #53
@masimplo that was my first plugin so i did not know capacitor at that time so i decided to develop data storage to give it a try but developers use it quickly and asked for a full  sqlite database capacitor plugin and i spent a lot of time to make it and i think it is now quite stable and as i said this one offers multiple databases opened simustaneously.  So i could for the native part of the pl

[2022-02-12 10:21] jepiqueau commented on #53
@masimplo i could also move to sql.js for the web which will use sqlite in memory and save the multiple databases in a local forage store as i did it for @capacitor-community/sqlite

[2022-02-12 10:28] masimplo commented on #53
@jepiqueau this makes sense. I understand this library is not a fit for my use case and that is OK. Just happy we cleared this up. Thank you again for taking the time to respond and for your great attitude. I think you can close this issue and I will give capacitor/SQLite a try next.

[2022-02-12 10:45] jepiqueau commented on #53
@masimplo i think that is the best solution. Good luck for your development i will close the issue then.

[2022-03-17 11:55] mariusbolik opened #54 "Can this plugin be used as a driver for Ionic Storage?"
First of all: Thank you for the good work!
Can this plugin be used as a driver for Ionic Storage like CordovaSQLiteDriver?
https://github.com/ionic-team/ionic-storage#sqlite-installation

Regards,
Marius

[2022-03-17 15:43] jepiqueau commented on #54
@mariusbolik i do not have any ideay

[2022-03-25 08:50] mariusbolik commented on #54
No. Is there no Driver for Ionic Storage?

[2022-03-25 14:35] jepiqueau commented on #54
@mariusbolik I think you have to select one or the other. the capacitor-data-storage-sqlite has been developed when the ionic team push capacitor as a first trial of developing a capacitor plugin at that time the Ionic Storage was not there as it is today. Now it seems that they support also SQLite for native app. so it is up to you. Please close this issue,

[2022-05-17 11:32] majadinjar opened #57 "Set custom encryption secret"
**Describe the bug**
I need to set encryption secret, or find a way to encrypt and browse db files for platform Android.
I downloaded .db file from device storage but it asks for encryption phrase. As I don't have it I need to setup custom secret.

**To Reproduce**
I saw in readme file that custom secret can be set in:
jeepq-capacitor/java/com.jeep.plugins.capacitor/cdssUtils/Global.java

But I do

[2022-05-17 17:48] #54 closed

[2022-05-20 05:47] jepiqueau commented on #57
@majadinjar look in your andrid project for the capacitor-data-storage-sqlite code and there go to the cdssUtils folder you will find the Global.java file

[2022-06-03 14:29] Web2Integrators opened #58 "on IOS when I use encryption getting this error message"
**Describe the bug**
On IOS getting this message
Failed in encryption","message":"openStore: Failed in encryption"}

Sample app provided with this repor works fine but with my own app I am getting above message

**To Reproduce**
Steps to reproduce the behavior:

Open the store with encryption true

**Expected behavior**
Encrpted store should be created

**Screenshots**
If applicable, add screensho

[2022-08-09 02:18] diachedelic opened #60 ""electron" dependency"
In the package.json of this plugin, "electron" is listed as a dependency. Should it instead be listed as a dev dependency or peer dependency? It is quite a big package, and seems to be unnecessary in many cases.

[2022-08-09 05:19] jepiqueau commented on #60
@diachedelic it should be a dev-dependency

[2022-08-22 12:31] Web2Integrators opened #61 "On IOS when I delete the store on log off and then again log in I see the same data."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2022-09-11 04:54] #60 closed

[2022-09-11 04:56] jepiqueau commented on #61
@Web2Integrators Can you share your app

[2022-09-11 05:09] mburger81 commented on #54
@jepiqueau what do you mean with "Now it seems that they support also SQLite for native app, so it is up to you"

thx for your work

[2022-09-11 11:20] jepiqueau commented on #54
@mburger81 i did not look in detail and it was last may so i forgot about it sorry for this.

[2022-09-13 08:11] mburger81 commented on #57
@jepiqueau its a little bit "odd" to have to set the secret in the `node_modules` folder. We have to write a script instead of just set it from the javascript files where we configure the plugin.
May I ask why you have to chosen to do so?

Which is the best way to set the secrets using a script, I mean every time I launch yarn/npm the Global files are overwritten so this is bad and we even risk to

[2022-09-13 08:15] mburger81 commented on #54
@jepiqueau @mariusbolik  I wrote a driver for `localforage`, this driver gives you the possibility to use the lib as localforage driver in IonicStorage or on state management tools like Akita.

I would like to share with you the driver, maybe you could add it to the capacitor plugin itself so everybody can use it.

[2022-09-13 10:16] jepiqueau commented on #54
@mariusbolik why not i could have a look or may be you do a PR to put it inside the plugin

[2022-09-13 11:45] mariusbolik commented on #54
Sounds great! A PR would be appreciated!

[2022-09-14 16:45] jepiqueau commented on #54
@mburger81 Are you making a PR out of your driver ?

[2022-10-26 07:52] jepiqueau commented on #54
@mburger81 any progress on this PR

[2022-11-23 16:07] mariusbolik commented on #54
@mburger81 Could you please create a PR on this repo, so the community can use your driver? :)